# environment files
.env

# Documentation
*.pdf
*.docx
*.doc

# Figures
*.png
*.svg
*.jpg

# Raw data
*.dta
*.csv
*.xlsx
*.xls
*.sav

# Mac files
.DS_Store

# Jupyter notebooks
.ipynb_checkpoints
*.ipynb
*checkpoint.ipynb
*checkpoint.py

# Python
__pycache__/
*.pyc

# R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
*.bbl
*.blg

